REGISTRATION_STEPS_API_URL = "http://guess_where_if_u_can"
REGISTRATION_STEPS_API_USERNAME = "Rambo"
REGISTRATION_STEPS_API_PASSWORD = "Rumble in the Bronx"
KANNEL_LOW_PRIORITY_SMSC = "1111"
KANNEL_HIGH_PRIORITY_SMSC = "2222"
KANNEL_SEND_SMS_URL = "http://0.0.0.0"
KANNEL_SEND_SMS_FROM = "http://1.1.1.1"
KANNEL_SEND_SMS_USERNAME = "kannel_username"
KANNEL_SEND_SMS_PASSWORD = "kannel_password"