REGISTRATION_STEPS_API_URL = "http://guess_where_if_u_can"
REGISTRATION_STEPS_API_USERNAME = "Rambo"
REGISTRATION_STEPS_API_PASSWORD = "Rumble in the Bronx"
KANNEL_LOW_PRIORITY_SMSC = "1111"
KANNEL_HIGH_PRIORITY_SMSC = "2222"
KANNEL_SEND_SMS_URL = "http://0.0.0.0"
KANNEL_SEND_SMS_FROM = "http://1.1.1.1"
KANNEL_SEND_SMS_USERNAME = "kannel_username"
KANNEL_SEND_SMS_PASSWORD = "kannel_password"
KANNEL_STATUS_URL = "http://www.kannel.com/status?"
STEPS_CACHE_KEY_NAME = "my_cache_key"
LOGGING_FILE = "prioritizer.log"
PRIORITIZER_ADDRESS = "127.0.0.1:5000"
ROUTER_RECEIVE_URL = "http://127.0.0.1/router/receive"
GEARMAN_SERVER = "localhost:4730"
ROUTER_RECEIVE_TASK_NAME = "call_router_receive"
THROTTLE_WORK_LOG_FILE = "/tmp/throttle-worker.log"